<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Ivan Rogov">
		<meta name="description" content="OpenID Connect Provider Example">
		<title>Example | OpenID Connect Provider</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
	</head>
	<body>

		<main class="wrapper" style="margin:100px auto 0 auto">

      <section class="container">
        <br>
  			<h1>Hello, </h1>
        <p>That's some kind of frontpage</p>
        <hr>
      </section>

			<footer class="footer">
				<section class="container">
					<p>This project on <a href="https://github.com/xlazex/openid-connect-provider-example" target="_blank">GitHub</a> (private)</p>
				</section>
			</footer>

		</main>

	</body>
</html>
